#title {
    background-color: #ff4c68;
}
.container-fluid {
    padding: 3% 15%;
}

body {
    font-family: "Montserrat-light";
}

h1 {
    font-family: "Montserrat";
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}

h2 {
    font-family: "Monserrat-Bold";
    font-size: 2rem;
    line-height: 1.5;
}

h3 {
    font-family: "Monsterrat-bold";
    font-size: larger;
}

.feature-container > h3 {
    font-family: "Montserrat";
}

p {
    color: #8f8f8f;
    font-size: 15px;
}

.title {
    padding-top: 20px;
}

/* Navigation Bar */

.navbar {
    padding-bottom: 4.5rem;
    padding-left: 0%;
    padding-right: 0%;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Monsterrat-light";
}

/* Buttons */
.download-btn {
    margin: 5% 3% 5% 0;
}

/* Title Image */
.title-img {
    width: 60%;
    transform: rotate(25deg);
}

.image {
    padding-bottom: -20%;
}

/* Features  */

.features {
    align-content: center;
    text-align: center;
    padding: 7% 15%;
}

.feature-icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.features > p {
    color: #8f8f8f;
}

.feature-container {
    padding: 5%;
}

/* Testimonials Section  */

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-item {
    padding-left: 25%;
    padding-right: 25%;
}

/* Press Section  */

#press {
    background-color: #ef8172;
    text-align: center;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}